#container	{
	width:500px;
	display:inline-block;
	text-align:center;
	background-color:white;
	border-color:black;
	border: 1px solid black;
}

#total	{
	font-size: 20;
}

#SA	{
	width:500px;
	display:inline-block;
	text-align:right;
}